<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/dayaladev">Daniel Ayala</a>.
  </p>
  <p>
    He has worked on a number of development projects, his most recent one being an API-driven fleet management application.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ayala_headshot.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Daniel Ayala</h2>
      <br />
      <p>
        Daniel Ayala is a developer for an automotive retail company. He has spent his career building proprietary applications and solutions to deliver the highest level of service to customers and associates alike.
      </p>
  </div>
</div>
<br class="clear"/>
<br />
<br />
<br />
<br />